*{
	margin:0;
	padding:0;
}
body
{
	font-family:sans-serif;
}
#nav-bar
{
	background-color:#00BCD4;
	position: sticky;
	top:0px;
	z-index:10;
	float: right;
}
.nav-link:hover{
    background-color:burlywood;
    padding: 10px;
	color: #000;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fff;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{   
	margin-top:1px;
	text-align: center;
    color:#fff;
    padding-top:1%;
}
#logo img
{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -200px;
    margin-top: 0px;
}
.h-primary{
	margin-top: -10px;
    color: #89552e;
	margin-left: 215px;
}
/*---service section---*/
#features1
{
	text-align: center;
    padding: 3% 10%;
    margin-top: 200px;
    color: black;
    background-color: antiquewhite;
}
 #features
 {   
	margin-top: -68px;
    text-align: center;
	padding:15%;
	background-image: url('banking\ image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
 }
 .bnt{
    padding: 3px 20px;
    border: 2px solid white;
    background-color:#00BCD4;
	margin:5px;
	color:white;
    border-radius: 20px;
    font-size: 1.5rem;
	font-family: sans-serif;
    cursor: pointer;
	opacity:0.9;
}
#features .bnt:hover{
    color: black;
    background-color:burlywood;
}
.title::before
{
	content:'';
	background:#7b1798;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title{
	margin-top: 90px;
	padding: 60px;
}
.title::after
{
	content:'';
	background:#7b1798;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#a517ba,#5f1782)
}
/* Action*/
  #action{
    background-color:black;
    text-align: center;
    line-height: 1.5;
    color: #fff;
	height: 160px;
	margin-top: -140px;
  }
  .main{
    font-size: 3rem;
    padding: 2px 0px;
  }
.fa {
  padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* footer */
#footer{
	background-color: black;
    color: #fff;
    padding: 1.5%;
    text-align: center;
    height: 120px;
    margin-top: -65px;
}
#footer1{
	background-color:black;
    color:#fff;
    text-align: center;
	height: 120px;
	margin:1px;
	margin-top: 270px;
}
